@import "@fontsource/inter";
@import "@fontsource/inter/variable.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	:root {
		@apply text-white
	}

	html {
		@apply scroll-smooth
	}

	h1 {
		@apply font-extrabold
	}
	
	body {
		@apply absolute inset-0 flex flex-col items-center bg-black
	}
	
	button {
		@apply transition rounded-lg drop-shadow;
	}
	
	button:hover {
		@apply scale-105
	}
	
	button:active {
		@apply rotate-6;
	}

	button:disabled {
		@apply text-opacity-50; 
		@apply text-[#555]
	}

	input {
		@apply text-black;
	}
}