@import "@fontsource/inter";
@import "@fontsource/inter/variable.css";

:root {
	color: white;
}

body {
	position: absolute;
	inset: 0;

	display: flex;
	flex-direction: column;
	align-items: center;
}

main {
	width: min(820px, 100%);
	display: flex;
	flex-direction: column;
	align-items: center;
}

button {
	border-radius: 20px;
	border: none;

	font-family: "InterVariable";
	font-weight: 500;

	cursor: pointer;
	transition: all 0.2s ease;
}

button:hover {
	transform: scale(1.05);
}

button:active {
	transform:  rotate(5deg);
}